Corrections Datasets
======================

## What we're looking for:

- % Percentage that get probation vs incarceration
- Distributions of crimes/people across different types of facilities (eg prison vs jail, minimum vs maximum security prisons …)
- % of facilities with certain types of programs/amenities (eg. work programs, education programs, libraries, substance abuse programs …)
- % of inmates that apply for and get parole
- Frequency and timing of parole violations
- Recidivism rates conditional on corrections characteristics (ie incarceration vs probation, acces to work program vs no access …)

In [2]:
import pandas as pd
import numpy as np
import os

## BJS - Federal Justice Statistics, 2013-2014

>Describes the annual activity, workloads, and outcomes of the federal criminal justice system from arrest to imprisonment, using data from U.S. Marshals Service (USMS), Drug Enforcement Administration (DEA), Executive Office for U.S. Attorneys (EOUSA), Administrative Office of the U.S. Courts (AOUSC), and the Federal Bureau of Prisons (BOP). This report presents data on arrests and investigations by law enforcement agency and growth rates by type of offense and federal judicial district. It also examines trends in drug arrests by the DEA, provides the number of offenders returning to federal prison within 3 years of release, and includes the most recent available data on sentences imposed and their lengths by type of offense.

Data is downloaded from [BJS](https://www.bjs.gov/index.cfm?ty=pbdetail&iid=5885) and the dataset used can be downloaded [here](https://www.bjs.gov/content/pub/sheets/fjs1314.zip).

### Disposition and sentence received for defendants in cases terminated in U.S. district court, 2010, 2013, and 2014

- **% Percentage that get probation vs incarceration**

In [12]:
dataDir = 'C:\\Users\\Mark\\Documents\\RAND\\CJM\\Corrections'
fjsall_t15 = pd.read_csv(os.path.join(dataDir, 'CSV Tables\\fj1314t15.csv'), skiprows = 13,
                  usecols = [2,3,5,6,8,9,11], 
                  names = ['num2010', 'percent2010', 
                           'num2013', 'percent2013', 'num2014', 'percent2014', 'avgAnnualGrowth20102014'], 
                  skipfooter = 4, na_values = ["^"], thousands = ',',
                       engine = 'python')
#a/Total includes offenders whose offense category could not be determined.
#b/An offense category was unknown or could not be determined for 165 felony offenders, including 73 offenders under probation, 90 under supervised release, and 2 under parole.
#c/Excludes sexual abuse. (See Glossary for further details.)
fjsall_t15.drop(fjsall_t15.index[7], inplace=True)

case_cat1 = ['Disposition', 'Sentence Imposed']
case_cat2 = ['Total cases terminated', 'Convicted', 'Not Convicted',
             'Total Convicted', 'Prison', 'Probation only', 'Fine only', 'Suspended sentence']
case_cat3 = ['Total', 'Sub-total', 'Guilty plea', 'Bench/Jury trial','Sub-total', 'Dismissed',
             'Bench/Jury trial', 'Total', 'Sub-total']
fjsall_t15['case_cat1'] = np.repeat(case_cat1, [7,5], axis=0)
fjsall_t15['case_cat2'] = np.repeat(case_cat2, [1,3,3,1,1,1,1,1], axis=0)
fjsall_t15['case_cat3'] = np.repeat(case_cat3, [1,1,1,1,1,1,1,1,4], axis=0)

# Reorder cols
cols = fjsall_t15.columns.tolist()
cols = cols[-3:]+cols[:-3]
fjsall_t15=fjsall_t15[cols]

# Fill in crime.cat2
# fjsall_t1.iloc[[1,4],1] = "Total"

fjsall_t15

,case_cat1,case_cat2,case_cat3,num2010,percent2010,num2013,percent2013,num2014,percent2014,avgAnnualGrowth20102014
0,Disposition,Total cases terminated,Total,98489.0,100.0,90133.0,100.0,85781.0,100.0,-3.2
1,Disposition,Convicted,Sub-total,89902.0,91.3,82838.0,91.9,78155.0,91.1,-3.2
2,Disposition,Convicted,Guilty plea,87567.0,88.9,80710.0,89.5,76282.0,88.9,-3.2
3,Disposition,Convicted,Bench/Jury trial,2335.0,2.4,2128.0,2.4,1873.0,2.2,-5.2
4,Disposition,Not Convicted,Sub-total,8587.0,8.7,7295.0,8.1,7626.0,8.9,-2.5
5,Disposition,Not Convicted,Dismissed,8166.0,8.3,6920.0,7.7,7270.0,8.5,-2.5
6,Disposition,Not Convicted,Bench/Jury trial,421.0,0.4,375.0,0.4,356.0,0.4,-3.9
8,Sentence Imposed,Total Convicted,Total,89902.0,100.0,82838.0,100.0,78155.0,100.0,-3.2
9,Sentence Imposed,Prison,Sub-total,69494.0,77.8,64390.0,78.1,60626.0,78.0,-3.2
10,Sentence Imposed,Probation only,Sub-total,9627.0,10.8,8333.0,10.1,8275.0,10.6,-3.5
11,Sentence Imposed,Fine only,Sub-total,2758.0,3.1,1828.0,2.2,1758.0,2.3,-9.3
12,Sentence Imposed,Suspended sentence,Sub-total,7483.0,8.4,7932.0,9.6,7113.0,9.1,-0.4

### Offenders in federal confinement or under federal supervision in the community, 2010, 2013, and 2014

In [13]:
fjsall_t1 = pd.read_csv(os.path.join(dataDir, 'CSV tables\\fj1314t01.csv'), skiprows = 12,
                  usecols = [0,1,2,4,5,7,8], 
                  names = ['confine.cat2',
                           'num2010', 'percent2010', 
                           'num2013', 'percent2013', 'num2014', 'percent2014'], 
                  skipfooter = 2, na_values = ["^"], thousands = ',',
                       engine = 'python')
#a/Total includes offenders whose offense category could not be determined.
#b/An offense category was unknown or could not be determined for 165 felony offenders, including 73 offenders under probation, 90 under supervised release, and 2 under parole.
#c/Excludes sexual abuse. (See Glossary for further details.)

confine = ['All', 'Secure confinement', 'Community']
# Fill in confine.cat1
fjsall_t1['confine.cat1'] = np.repeat(confine, [1,3,6], axis=0)
cols = fjsall_t1.columns.tolist()
cols = cols[-1:]+cols[:-1]
fjsall_t1=fjsall_t1[cols]

# Fill in crime.cat2
fjsall_t1.iloc[[1,4],1] = "Total"

fjsall_t1

,confine.cat1,confine.cat2,num2010,percent2010,num2013,percent2013,num2014,percent2014
0,All,Total,401290,100.0,410185,100.0,400367,100.0
1,Secure confinement,Total,248220,61.9,253926,61.9,245802,61.4
2,Secure confinement,Pretrial detention,62530,15.6,58182,14.2,54306,13.6
3,Secure confinement,Federal Bureau of Prisons (post-sentencing)*,185690,46.3,195744,47.7,191496,47.8
4,Community,Total,153070,38.1,156259,38.1,154565,38.6
5,Community,Pretrial release supervision,26516,6.6,26314,6.4,24156,6.0
6,Community,Post-sentencing supervision,126554,31.5,129945,31.7,130409,32.6
7,Community,Supervised release,101839,25.4,107594,26.2,109287,27.3
8,Community,Probation,22685,5.7,20899,5.1,19754,4.9
9,Community,Parole,2030,0.5,1452,0.4,1368,0.3

### Pull in data

Data is organized as reported tables. The PDF describing the contents is [here](https://www.bjs.gov/content/pub/pdf/fjs14st.pdf).  

Tables that seem relevant:  
- Table 7.1. Offenders under federal supervision, by offense
- Table 7.9. Admissions and releases of federal prisoners, by offense
- Table 7.11. Average time to first release and percent of sentence served for federal prisoners released by standard methods

#### Table 7.1. Offenders under federal supervision, by offense

In [14]:
# Table 7.1
fjs7_1 = pd.read_csv(os.path.join(dataDir, 'CSV\\fjs14st7.1.csv'), encoding = "ISO-8859-1")

In [16]:
# Table 7.1
fjs7_1 = pd.read_csv(os.path.join(dataDir, 'CSV\\fjs14st7.1.csv'), skiprows = 13,
                  usecols = [0,1,2,3,4,5,7,8,10,11,13,14], 
                  names = ['crime.severity', 'crime.cat1', 'crime.cat2','crime', 
                           'totalOffendersNum', 'totalOffendersPercent', 
                           'probationOffendersNum', 'probationOffendersPercent',
                           'commSupOffendersNum', 'commSupOffendersPercent', 
                           'paroleOffendersNum','paroleOffendersPercent'], 
                  nrows = 56, na_values = ["^", '\x85'], thousands = ',', encoding = "ISO-8859-1")
#a/Total includes offenders whose offense category could not be determined.
#b/An offense category was unknown or could not be determined for 165 felony offenders, including 73 offenders under probation, 90 under supervised release, and 2 under parole.
#c/Excludes sexual abuse. (See Glossary for further details.)

# Fill in crime.severity
fjs7_1.iloc[0,0] = "Total"
fjs7_1.iloc[1:50,0] = "Felony"
fjs7_1.iloc[50:56,0] = "Misdemeanor"

# Fill in crime.cat1
fjs7_1.iloc[3:9,1] = "Violent offenses"
fjs7_1.iloc[10:22,1] = "Property offenses"
fjs7_1.iloc[23:25,1] = "Drug offenses"
fjs7_1.iloc[26:48,1] = "Public order offenses"
fjs7_1.iloc[[1,50],1] = "Total"

# Fill in crime.cat2
fjs7_1.iloc[[2,9,22,25,48,49],2] = "Total"
fjs7_1.iloc[51:56, 2] = "Total"
fjs7_1.iloc[11:15, 2] = "Fraudulent"
fjs7_1.iloc[16:22, 2] = "Other"
fjs7_1.iloc[26:36, 2] = "Regulatory"
fjs7_1.iloc[37:48, 2] = "Other"

fjs7_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 12 columns):
crime.severity               56 non-null object
crime.cat1                   56 non-null object
crime.cat2                   53 non-null object
crime                        30 non-null object
totalOffendersNum            56 non-null int64
totalOffendersPercent        47 non-null float64
probationOffendersNum        56 non-null int64
probationOffendersPercent    54 non-null float64
commSupOffendersNum          56 non-null int64
commSupOffendersPercent      43 non-null object
paroleOffendersNum           56 non-null int64
paroleOffendersPercent       42 non-null float64
dtypes: float64(3), int64(4), object(5)
memory usage: 5.3+ KB

In [17]:
fjs7_1.head()

,crime.severity,crime.cat1,crime.cat2,crime,totalOffendersNum,totalOffendersPercent,probationOffendersNum,probationOffendersPercent,commSupOffendersNum,commSupOffendersPercent,paroleOffendersNum,paroleOffendersPercent
0,Total,All offenses/a,NaN,NaN,130409,100.0,19754,100.0,109287,100,1368,100.0
1,Felony,Total,NaN,NaN,125661,96.4,15457,78.2,108840,100,1364,99.7
2,Felony,Violent offenses,Total,NaN,6396,4.9,311,1.6,5279,4.8,806,58.9
3,Felony,Violent offenses,Murder,NaN,811,0.6,32,0.2,423,0.4,356,26.0
4,Felony,Violent offenses,Assault,NaN,951,0.7,109,0.6,766,0.7,76,5.6

#### Table 7.9. Admissions and releases of federal prisoners, by offense

In [18]:
fjs7_9 = pd.read_csv(os.path.join(dataDir, 'CSV\\fjs14st7.9.csv'), skiprows = 12,
                  usecols = [0,1,2,3,4,5,6,8,9,10,11,12], 
                  names = ['crime.cat1', 'crime.cat2', 'crime',
                           'popStartOfYear', 'admittedDistCourt_YearOrLess', 
                           'admittedDistCourt_OverOneYear', 'admittedDistCourt_Other',
                           'firstRelease_YearOrLess', 'firstRelease_OverOneYear',
                           'firstRelease_Other', 'popEndOfYear', 'popNetChange'], 
                  nrows = 42, na_values = ["^"], thousands = ',')
#a/Total includes offenders whose offense category could not be determined.
#b/An offense category was unknown or could not be determined for 165 felony offenders, including 73 offenders under probation, 90 under supervised release, and 2 under parole.
#c/Excludes sexual abuse. (See Glossary for further details.)

# Fill in crime.cat1
fjs7_9.iloc[0,0] = "Total"
fjs7_9.iloc[2:8,0] = "Violent offenses"
fjs7_9.iloc[9:21,0] = "Property offenses"
fjs7_9.iloc[22:24,0] = "Drug offenses"
fjs7_9.iloc[25:40,0] = "Public order offenses"

# Fill in crime.cat2
fjs7_9.iloc[[1,8,21,24,40,41],1] = "Total"
fjs7_9.iloc[10:14, 1] = "Fraudulent"
fjs7_9.iloc[15:21, 1] = "Other"
fjs7_9.iloc[27:40, 1] = "Other"

# Fill in crime
fjs7_9.iloc[[9,14,26], 2] = "Total"

fjs7_9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 12 columns):
crime.cat1                       42 non-null object
crime.cat2                       42 non-null object
crime                            26 non-null object
popStartOfYear                   42 non-null int64
admittedDistCourt_YearOrLess     42 non-null int64
admittedDistCourt_OverOneYear    42 non-null int64
admittedDistCourt_Other          42 non-null int64
firstRelease_YearOrLess          42 non-null int64
firstRelease_OverOneYear         42 non-null int64
firstRelease_Other               42 non-null int64
popEndOfYear                     42 non-null int64
popNetChange                     42 non-null int64
dtypes: int64(9), object(3)
memory usage: 4.0+ KB

In [19]:
fjs7_9.head()

,crime.cat1,crime.cat2,crime,popStartOfYear,admittedDistCourt_YearOrLess,admittedDistCourt_OverOneYear,admittedDistCourt_Other,firstRelease_YearOrLess,firstRelease_OverOneYear,firstRelease_Other,popEndOfYear,popNetChange
0,Total,All prisoners,NaN,200418,14668,46969,10856,16535,49089,11902,195385,-5033
1,Violent offenses,Total,NaN,11470,107,1626,978,119,1685,1120,11257,-213
2,Violent offenses,Murder/manslaughter,NaN,1371,4,109,79,6,82,101,1374,3
3,Violent offenses,Assault,NaN,1276,71,427,257,81,399,283,1268,-8
4,Violent offenses,Robbery,NaN,6893,15,840,481,19,1004,560,6646,-247

#### Table 7.11. Average time to first release and percent of sentence served for federal prisoners released by standard methods

In [20]:
fjs7_11 = pd.read_csv(os.path.join(dataDir, 'CSV\\fjs14st7.11.csv'), skiprows = 11,
                  usecols = [0,1,2,3,4,6,8], 
                  names = ['crime.cat1', 'crime.cat2', 'crime',
                           'prisonersReleased', 'meanTimeServed', 
                           'medianTimeServed', 'percentSentenceServed'], 
                  nrows = 40, na_values = ["^"], thousands = ',')
#a/Total includes offenders whose offense category could not be determined.
#b/An offense category was unknown or could not be determined for 165 felony offenders, including 73 offenders under probation, 90 under supervised release, and 2 under parole.
#c/Excludes sexual abuse. (See Glossary for further details.)

# Fill in crime.cat1
fjs7_11.iloc[0,0] = "Total"
fjs7_11.iloc[2:8,0] = "Violent offenses"
fjs7_11.iloc[9:21,0] = "Property offenses"
fjs7_11.iloc[22:24,0] = "Drug offenses"
fjs7_11.iloc[25:39,0] = "Public order offenses"

# Fill in crime.cat2
fjs7_11.iloc[[1,8,21,24,39],1] = "Total"
fjs7_11.iloc[10:14, 1] = "Fraudulent"
fjs7_11.iloc[15:22, 1] = "Other"
fjs7_11.iloc[27:39, 1] = "Other"

fjs7_11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 7 columns):
crime.cat1               40 non-null object
crime.cat2               40 non-null object
crime                    22 non-null object
prisonersReleased        40 non-null int64
meanTimeServed           37 non-null float64
medianTimeServed         37 non-null float64
percentSentenceServed    35 non-null float64
dtypes: float64(3), int64(1), object(3)
memory usage: 2.3+ KB

In [21]:
fjs7_11.head()

,crime.cat1,crime.cat2,crime,prisonersReleased,meanTimeServed,medianTimeServed,percentSentenceServed
0,Total,All prisoners/b,NaN,59478,37.1,23.6,88.1
1,Violent offenses,Total,NaN,1745,70.2,50.6,88.7
2,Violent offenses,Murder,NaN,82,81.5,62.3,87.2
3,Violent offenses,Assault,NaN,477,32.6,26.1,89.0
4,Violent offenses,Robbery,NaN,988,87.4,67.1,88.8

## Other data

- Prisoners in 2016
- Correctional Populations in the United States, 2016
- Illinois Department of Corrections

### BJS - Prisoners in 2016

>Presents final counts of prisoners under the jurisdiction of state and federal correctional authorities at year-end 2016, including admissions, releases, noncitizen inmates, and inmates age 17 or younger. The report describes prisoner populations by jurisdiction, most serious offense, and demographic characteristics. Selected findings on prison capacity and prisoners held in private prisons, local jails, the U.S. military, and U.S. territories are also included. Findings are based on data from BJS's National Prisoner Statistics program, which collects data from state departments of correction and the Federal Bureau of Prisons.

[Link](https://www.bjs.gov/index.cfm?ty=pbdetail&iid=6187)

#### Tables
- Prisoners under jurisdiction of state or federal correctional authorities, by jurisdiction and sex
     - State level prison populations
- Sentenced prisoners under jurisdiction of state or federal correctional authorities, by jurisdiction, sex, race, and Hispanic origin (2006-2016)
     - Prison population differentiated between state and federal authorities
- Sentenced prisoners under jurisdiction of state correctional authority, by most serious offense, sex, race, and Hispanic origin
     - Prison population (count and percent) by crime type

### BJS - Correctional Populations in the United States 2016

> Presents statistics on persons supervised by U.S. adult correctional systems at year-end 2016, including persons supervised in the community on probation or parole and those incarcerated in state or federal prison or local jail. The report describes the size and change in the total correctional population during 2016. Appendix tables provide statistics on other correctional populations and jurisdiction-level estimates of the total correctional population by correctional status for selected years.

[Link](https://www.bjs.gov/index.cfm?ty=pbdetail&iid=6226)

*Does not indicate difference between maximum vs. minimum security.  Only between local jail and prison*

#### Tables
- Number of persons supervised by U.S. adult correctional systems, by correctional status, 2000 and 2006–2016
- Persons held in custody in state or federal prisons or in local jails, 2000, 2010, and 2015–2016

### Census of Jail Facilities, 2006 (ICPSR 26602)

>The 2006 Census of Jail Facilities gathered data from all jail detention facilities holding inmates beyond arraignment, a period normally exceeding 72 hours. Jail facilities were operated by cities and counties, by private entities under contract to correctional authorities, and by the Federal Bureau of Prisons (BOP). Excluded from the census were physically separate temporary holding facilities such as drunk tanks and police lockups that do not hold persons after being formally charged in court. Also excluded were state-operated facilities in Connecticut, Delaware, Hawaii, Rhode Island, Vermont, and Alaska, which have combined jail-prison systems. Fifteen independently operated jails in Alaska were included in the Census. The census collected jurisdictional level information on the number of confined inmates; average daily population; number of separate jail facilities; renovation and building plans; court orders and consent decrees; staff by occupational category and race/ethnicity; jail programs; and costs of operation. The census also collected individual jail facility information on the purpose for which the jail held offenders; gender of the inmates authorized to house; functions, such as general adult population confinement, work release, and medical treatment; whether a separate temporary holding area or lockup was operated; rated capacity; number of confined inmates by gender and adult or juvenile status; year of original construction; and whether the facility ever had a major renovation.

[Link](https://www.icpsr.umich.edu/icpsrweb/NACJD/studies/26602)

In [74]:
cjf = pd.read_table(os.path.join(dataDir,'ICPSR_26602\\DS0001\\26602-0001-Data.tsv'), na_values = ['-1'])
cjf.rename(columns = {'V1':'agency_id', 'V2':'facility_name', 'V6':'city', 'V7':'state', 'V18':'num_persons_confined',
         'V19':'avg_daily_pop', 'V20':'num_jail_facilities', 'V24':'court_order', 'V26':'court_order_conditions',
         'V40':'education_training', 'V41':'counseling', 'V42':'inmate_class', 'V93':'inmates_work_assgn',
         'V94':'work_release', 'V95':'wr_inmates', 'V96':'basic_ed_lower', 'V97':'basic_ed_upper',
         'V98':'ed_secondary', 'V99':'ed_special', 'V100':'ed_occ_voc', 'V101':'esl', 'V102':'college',
         'V103':'study_release', 'V105':'ed_num_persons', 'V106':'counsel_relig', 'V107':'counsel_alcohol',
         'V108':'counsel_drug', 'V109':'counsel_psych', 'V110':'life_skills', 'V111':'counsel_dom_violence',
         'V112':'pretrial_service', 'V113':'job_seeking', 'V33':'library_services', 'V28':'recreation',
         'V30':'medical_services','V32':'food_services'}, inplace=True)
nodict = {2:0}
cjf.replace(dict(work_release=nodict), inplace=True)
cjf.head()

,agency_id,facility_name,V3,V4,V5,city,state,V8,V9,V10,...,V456F,V457,V457F,V458,V458F,V459,V459F,V460,V461,V462
0,011001001061000000000,AUTAUGA METRO JAIL,9999,9999,136 North Court Street,Prattville,AL,36067,,999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,011002002061000000000,BALDWIN COUNTY JAIL,9999,9999,200 HAND AVENUE,BAY MINETTE,AL,36507,,999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,011003003061000000000,BARBOUR COUNTY JAIL,9999,9999,MIDWAY STREET,CLAYTON,AL,36016,,999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,011004004061000000000,BIBB COUNTY JAIL,9999,9999,94 BIBB LANE,BRENT,AL,35034,,999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,011005005061000000000,BLOUNT COUNTY CORRECTIONAL FACILITY,9999,9999,225 INDUSTRIAL PARK DRIVE,ONEONTA,AL,35121,,999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### State Totals

In [75]:
# Num jails in each state
cjf.groupby(['state']).count()[['facility_name']]

       facility_name
state
AK                15
AL               137
AR                81
AZ                15
CA                71
CO                54
DC                 1
FL                68
GA               187
HI                 1
IA                93
ID                38
IL                91
IN                92
KS                95
KY                75
LA                88
MA                16
MD                25
ME                15
MI                81
MN                77
MO               120
MS                86
MT                40
NC                95
ND                22
NE                62
NH                10
NJ                21
NM                32
NV                20
NY                62
OH                93
OK                93
OR                33
PA                67
PR                 1
SC                50
SD                28
TN               100
TX               242
UT                26
VA                67
WA                58
WI                71
WV                12
WY                22

In [76]:
# Jail programs by type (non-education)
grouped_noned=cjf.groupby(['state']).count()[['facility_name']].join(cjf.groupby(['state']).sum()[['counseling', 'work_release','counsel_relig','counsel_alcohol', 'counsel_drug', 
                              'counsel_psych', 'counsel_dom_violence','life_skills','pretrial_service', 'job_seeking', 'recreation', 'library_services', 'medical_services','food_services']])
grouped_noned.loc['Total',:] = grouped_noned.sum()
grouped_noned

,facility_name,counseling,work_release,counsel_relig,counsel_alcohol,counsel_drug,counsel_psych,counsel_dom_violence,life_skills,pretrial_service,job_seeking,recreation,library_services,medical_services,food_services
state,,,,,,,,,,,,,,,
AK,15.0,NaN,0.0,6.0,3.0,3.0,5.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN
AL,137.0,NaN,33.0,55.0,30.0,27.0,23.0,10.0,5.0,2.0,3.0,1.0,NaN,3.0,2.0
AR,81.0,NaN,19.0,46.0,9.0,10.0,13.0,1.0,1.0,4.0,NaN,1.0,NaN,1.0,1.0
AZ,15.0,1.0,6.0,13.0,10.0,9.0,11.0,3.0,5.0,4.0,4.0,1.0,1.0,1.0,1.0
CA,71.0,1.0,23.0,53.0,52.0,51.0,44.0,28.0,35.0,20.0,17.0,6.0,3.0,3.0,2.0
CO,54.0,1.0,23.0,26.0,20.0,18.0,19.0,9.0,9.0,5.0,5.0,1.0,1.0,1.0,1.0
DC,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
FL,68.0,NaN,26.0,49.0,40.0,37.0,41.0,24.0,28.0,20.0,16.0,NaN,NaN,1.0,NaN
GA,187.0,1.0,29.0,93.0,54.0,51.0,43.0,8.0,20.0,17.0,6.0,2.0,2.0,3.0,2.0
HI,1.0,NaN,NaN,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN
IA,93.0,NaN,33.0,46.0,31.0,30.0,28.0,6.0,2.0,18.0,NaN,NaN,NaN,NaN,NaN
ID,38.0,NaN,16.0,18.0,15.0,14.0,8.0,1.0,4.0,3.0,3.0,NaN,NaN,NaN,NaN
IL,91.0,NaN,35.0,45.0,29.0,26.0,33.0,8.0,7.0,10.0,4.0,1.0,NaN,NaN,NaN
IN,92.0,NaN,34.0,54.0,42.0,36.0,19.0,5.0,13.0,2.0,2.0,1.0,NaN,NaN,NaN
KS,95.0,NaN,27.0,39.0,22.0,22.0,22.0,2.0,5.0,1.0,2.0,NaN,NaN,NaN,NaN
KY,75.0,2.0,22.0,27.0,23.0,20.0,12.0,5.0,7.0,23.0,4.0,5.0,3.0,5.0,5.0
LA,88.0,3.0,16.0,38.0,21.0,19.0,10.0,3.0,7.0,5.0,3.0,3.0,3.0,3.0,4.0
MA,16.0,1.0,5.0,9.0,9.0,9.0,9.0,7.0,8.0,5.0,8.0,1.0,1.0,1.0,1.0
MD,25.0,NaN,15.0,15.0,16.0,16.0,15.0,9.0,11.0,7.0,4.0,NaN,NaN,NaN,NaN
ME,15.0,NaN,6.0,7.0,7.0,7.0,7.0,6.0,5.0,6.0,2.0,NaN,NaN,NaN,NaN
MI,81.0,1.0,35.0,45.0,44.0,40.0,37.0,11.0,26.0,12.0,8.0,2.0,1.0,2.0,1.0
MN,77.0,NaN,30.0,40.0,38.0,34.0,24.0,13.0,21.0,4.0,8.0,1.0,1.0,1.0,1.0
MO,120.0,NaN,31.0,57.0,19.0,17.0,17.0,2.0,7.0,3.0,5.0,1.0,3.0,2.0,NaN
MS,86.0,2.0,3.0,20.0,11.0,8.0,7.0,NaN,5.0,NaN,2.0,2.0,2.0,5.0,5.0
MT,40.0,NaN,7.0,23.0,20.0,16.0,17.0,2.0,3.0,6.0,1.0,NaN,NaN,NaN,NaN
NC,95.0,NaN,17.0,49.0,16.0,15.0,30.0,4.0,6.0,15.0,2.0,NaN,NaN,NaN,NaN
ND,22.0,NaN,10.0,9.0,6.0,3.0,4.0,NaN,2.0,NaN,1.0,NaN,NaN,1.0,NaN
NE,62.0,NaN,36.0,45.0,35.0,23.0,18.0,4.0,4.0,4.0,1.0,NaN,NaN,NaN,NaN
NH,10.0,NaN,7.0,7.0,7.0,6.0,6.0,NaN,4.0,1.0,1.0,NaN,NaN,NaN,NaN
NJ,21.0,NaN,8.0,12.0,12.0,12.0,11.0,1.0,7.0,2.0,5.0,NaN,NaN,NaN,NaN
NM,32.0,NaN,8.0,16.0,12.0,9.0,8.0,5.0,5.0,5.0,1.0,NaN,NaN,NaN,1.0
NV,20.0,NaN,3.0,10.0,9.0,9.0,8.0,3.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN
NY,62.0,1.0,7.0,36.0,34.0,33.0,31.0,14.0,27.0,14.0,19.0,1.0,1.0,1.0,1.0
OH,93.0,1.0,33.0,66.0,61.0,54.0,55.0,23.0,30.0,13.0,11.0,2.0,2.0,2.0,2.0
OK,93.0,NaN,15.0,45.0,13.0,12.0,7.0,1.0,4.0,NaN,1.0,1.0,NaN,NaN,1.0
OR,33.0,NaN,11.0,25.0,23.0,20.0,18.0,7.0,11.0,3.0,6.0,2.0,1.0,1.0,NaN
PA,67.0,NaN,34.0,34.0,37.0,37.0,34.0,16.0,29.0,4.0,15.0,NaN,1.0,NaN,NaN
PR,1.0,NaN,NaN,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN
SC,50.0,1.0,10.0,25.0,15.0,12.0,14.0,4.0,4.0,1.0,1.0,1.0,NaN,NaN,NaN
SD,28.0,NaN,19.0,17.0,12.0,12.0,9.0,5.0,1.0,5.0,2.0,NaN,NaN,NaN,NaN
TN,100.0,NaN,34.0,61.0,30.0,27.0,33.0,7.0,10.0,4.0,3.0,3.0,2.0,2.0,2.0
TX,242.0,3.0,70.0,161.0,82.0,70.0,72.0,10.0,20.0,22.0,9.0,6.0,8.0,6.0,5.0
UT,26.0,NaN,14.0,18.0,17.0,16.0,9.0,4.0,13.0,3.0,3.0,NaN,NaN,NaN,NaN
VA,67.0,1.0,44.0,55.0,46.0,42.0,35.0,15.0,28.0,21.0,16.0,1.0,1.0,1.0,1.0
WA,58.0,NaN,26.0,42.0,29.0,26.0,26.0,8.0,13.0,6.0,5.0,NaN,1.0,2.0,1.0
WI,71.0,NaN,52.0,65.0,62.0,49.0,48.0,14.0,37.0,5.0,30.0,1.0,NaN,1.0,1.0
WV,12.0,1.0,7.0,9.0,8.0,8.0,7.0,4.0,8.0,2.0,1.0,1.0,NaN,1.0,NaN
WY,22.0,NaN,9.0,19.0,18.0,16.0,19.0,5.0,8.0,2.0,4.0,1.0,NaN,NaN,NaN
Total,2949.0,21.0,949.0,1653.0,1152.0,1034.0,969.0,320.0,514.0,317.0,247.0,49.0,38.0,50.0,41.0

In [66]:
# Jail programs by type (education)
grouped_ed = cjf.groupby(['state']).sum()[['education_training', 'basic_ed_lower', 'basic_ed_upper', 'ed_secondary', 
                                           'ed_special', 'ed_occ_voc', 'esl', 'college', 'study_release']]
grouped_ed.loc['Total',:] = grouped_ed.sum()
grouped_ed

,education_training,basic_ed_lower,basic_ed_upper,ed_secondary,ed_special,ed_occ_voc,esl,college,study_release
state,,,,,,,,,
AK,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
AL,1.0,3.0,3.0,13.0,NaN,1.0,NaN,NaN,NaN
AR,NaN,3.0,2.0,17.0,NaN,NaN,NaN,NaN,NaN
AZ,1.0,2.0,3.0,10.0,10.0,NaN,2.0,NaN,NaN
CA,2.0,15.0,19.0,43.0,9.0,21.0,19.0,3.0,1.0
CO,1.0,3.0,3.0,13.0,NaN,2.0,5.0,NaN,2.0
DC,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
FL,NaN,21.0,23.0,44.0,11.0,9.0,7.0,1.0,1.0
GA,1.0,3.0,5.0,46.0,NaN,4.0,2.0,NaN,1.0
HI,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,NaN
IA,NaN,NaN,1.0,16.0,1.0,NaN,NaN,NaN,NaN
ID,NaN,2.0,2.0,15.0,NaN,NaN,NaN,1.0,NaN
IL,NaN,5.0,7.0,24.0,3.0,2.0,2.0,NaN,1.0
IN,NaN,12.0,11.0,47.0,14.0,NaN,2.0,2.0,1.0
KS,NaN,3.0,5.0,13.0,1.0,NaN,2.0,NaN,1.0
KY,3.0,5.0,6.0,25.0,2.0,1.0,2.0,2.0,NaN
LA,3.0,11.0,12.0,26.0,5.0,3.0,3.0,1.0,NaN
MA,NaN,9.0,9.0,9.0,8.0,9.0,8.0,3.0,1.0
MD,NaN,3.0,4.0,15.0,2.0,2.0,1.0,NaN,2.0
ME,NaN,6.0,6.0,7.0,3.0,1.0,1.0,2.0,2.0
MI,1.0,4.0,8.0,30.0,1.0,2.0,2.0,NaN,2.0
MN,1.0,9.0,12.0,35.0,5.0,2.0,4.0,2.0,3.0
MO,NaN,2.0,2.0,9.0,1.0,1.0,NaN,NaN,NaN
MS,2.0,1.0,3.0,8.0,NaN,4.0,NaN,NaN,2.0
MT,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN
NC,NaN,1.0,2.0,14.0,3.0,1.0,1.0,NaN,NaN
ND,NaN,NaN,NaN,6.0,1.0,1.0,NaN,1.0,1.0
NE,NaN,8.0,8.0,33.0,2.0,NaN,3.0,NaN,2.0
NH,NaN,3.0,3.0,7.0,5.0,1.0,1.0,NaN,NaN
NJ,NaN,6.0,8.0,10.0,1.0,4.0,5.0,1.0,NaN
NM,NaN,NaN,1.0,5.0,2.0,NaN,1.0,NaN,1.0
NV,NaN,NaN,2.0,8.0,1.0,2.0,1.0,NaN,1.0
NY,2.0,19.0,20.0,34.0,18.0,12.0,8.0,2.0,1.0
OH,2.0,10.0,13.0,51.0,5.0,4.0,2.0,NaN,1.0
OK,NaN,2.0,2.0,12.0,1.0,NaN,2.0,NaN,NaN
OR,NaN,6.0,5.0,17.0,2.0,2.0,3.0,2.0,1.0
PA,NaN,16.0,19.0,37.0,14.0,2.0,4.0,1.0,2.0
PR,NaN,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
SC,1.0,4.0,3.0,11.0,2.0,NaN,1.0,NaN,1.0
SD,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,1.0
TN,1.0,6.0,7.0,42.0,15.0,1.0,2.0,1.0,2.0
TX,5.0,9.0,10.0,61.0,6.0,9.0,13.0,1.0,3.0
UT,NaN,8.0,11.0,16.0,2.0,5.0,3.0,7.0,1.0
VA,1.0,20.0,24.0,47.0,36.0,2.0,10.0,4.0,5.0
WA,NaN,8.0,7.0,19.0,3.0,2.0,2.0,1.0,2.0
WI,NaN,16.0,20.0,54.0,12.0,4.0,7.0,1.0,8.0
WV,1.0,9.0,9.0,9.0,4.0,NaN,1.0,NaN,NaN
WY,NaN,1.0,2.0,18.0,1.0,1.0,NaN,2.0,NaN
Total,29.0,277.0,325.0,995.0,215.0,119.0,135.0,42.0,54.0

In [71]:
noned_programs = cjf.sum()[['counseling', 'work_release','counsel_relig','counsel_alcohol', 'counsel_drug', 
                              'counsel_psych', 'counsel_dom_violence','life_skills','pretrial_service', 'job_seeking']].apply(lambda x: x/2949).reset_index()
noned_programs

                  index         0
0            counseling  0.007121
1          work_release  0.321804
2         counsel_relig  0.560529
3       counsel_alcohol  0.390641
4          counsel_drug  0.350627
5         counsel_psych  0.328586
6  counsel_dom_violence  0.108511
7           life_skills  0.174296
8      pretrial_service  0.107494
9           job_seeking  0.083757

In [72]:
ed_programs = cjf.sum()[['education_training', 'basic_ed_lower', 'basic_ed_upper', 'ed_secondary', 
                                           'ed_special', 'ed_occ_voc', 'esl', 'college', 'study_release']].apply(lambda x: x/2949).reset_index()
ed_programs

                index         0
0  education_training  0.009834
1      basic_ed_lower  0.093930
2      basic_ed_upper  0.110207
3        ed_secondary  0.337403
4          ed_special  0.072906
5          ed_occ_voc  0.040353
6                 esl  0.045778
7             college  0.014242
8       study_release  0.018311